{% extends "_base.html" %}
{% load i18n %}
{% load static %}

{% block title %}{{ product.name }}{% endblock %}

{% block content %}
  <div class="product-detail">
    <img src="{% if product.image %}{{ product.image.url }}{% else %}
    {% static "images/no_image.png" %}{% endif %}">
    <h1>{{ product.name }}</h1>
    <h2>
      <a href="{{ product.category.get_absolute_url }}">
        {{ product.category }}
      </a>
    </h2>
    <p class="price">₵{{ product.price }}</p>
    <form action="{% url 'cart_add_item' product.id %}" method="post">
      {% csrf_token %}
      {{ form }}
      <input type="submit" value="{% trans 'Add to cart' %}">
    </form>
    {{ product.description|linebreaks }}
    {% if recommended_products %}
    <div class="recommendations">
      <h3>{% trans "Frequently bought together" %}</h3>
      {% for item in recommended_products %}
        <div class="item">
          <a href="{{ item.get_absolute_url }}">
            <img src="{% if item.image %}{{ item.image.url }}{% else %}
            {% static  "images/no_image.png" %}{% endif %}">
          </a>
          <p><a href="{{ item.get_absolute_url }}">{{ item.name }}</a></p>
        </div>
      {% endfor %}
    </div>
  {% endif %}
  </div>
{% endblock %}